<div class="site-intro" style="background-image: url(/home-banner.jpg)">
  <div class="inner-wrap">
    <div class="si-wrap">
      <h1 class="si-heading">
        Industrial Packaging Solutions by K B Packaging Industries
      </h1>

      <h2 class="si-subheading">
        THIS IS WHAT INDUSTRIAL PACKAGING
        <strong>LEADERSHIP LOOKS LIKE.</strong>
      </h2>
    </div>
  </div>
</div>

<section class="value-added-module">
  <div class="inner-wrap">
    <div class="vam-content-wrap">
      <p class="vam-description">
        <strong>K B Packaging Industries</strong> delivers industrial package
        design and products to lower your costs and build your brand with a
        broad array of capabilities that provides single-source convenience,
        efficiency, and accountability.
      </p>
    </div>
    <div class="vam-item-listing">
      <div class="vam-item">
        <figure>
          <span>
            <a
              class="vam-item-link tse-remove-border"
              href="/packaging-design-services/"
              target="_self"
            >
              <img
                class="vam-item-img"
                src="design.png"
                alt="Package Design"
                title="Package Design"
              />
            </a>
          </span>
        </figure>

        <h3 class="vam-item-title">
          <a
            class="vam-item-link tse-remove-border"
            href="/packaging-design-services/"
            target="_self"
          >
            Package Design
          </a>
        </h3>
      </div>

      <div class="vam-item">
        <figure>
          <span>
            <a
              class="vam-item-link tse-remove-border"
              href="/supplies/"
              target="_self"
            >
              <img
                class="vam-item-img"
                src="transport.png"
                alt="Production and Delivery"
                title="Production and Delivery"
              />
            </a>
          </span>
        </figure>

        <h3 class="vam-item-title">
          <a class="vam-item-link" href="/supplies/" target="_self">
            Production and Delivery
          </a>
        </h3>
      </div>

      <div class="vam-item">
        <figure>
          <span>
            <a
              class="vam-item-link"
              href="/end-of-line-packaging-equipment/"
              target="_self"
            >
              <img
                class="vam-item-img"
                src="equipment.png"
                alt="Equipment"
                title="Equipment"
              />
            </a>
          </span>
        </figure>

        <h3 class="vam-item-title">
          <a
            class="vam-item-link"
            href="/end-of-line-packaging-equipment/"
            target="_self"
          >
            Equipment
          </a>
        </h3>
      </div>
    </div>
  </div>
</section>

<section
  class="content-image-module rocket-lazyload entered lazyloaded"
  style="background-image: url('bg-cardboard.jpg')"
  data-ll-status="loaded"
>
  <div class="cim-grid">
    <div class="cim-item">
      <div class="inner-wrap">
        <div class="cim-item-wrap tse-cols-2">
          <div class="cim-img-wrap">
            <div class="lightbox">
              <img
                class="cim-item-img"
                src="expert.png"
                alt="More Than A Provider. A Proven Expert."
                title="More Than A Provider. A Proven Expert."
              />
            </div>
          </div>

          <div class="cim-content-wrap">
            <h2 class="cim-heading">
              More than a provider. <strong>A proven expert.</strong>
            </h2>

            <div class="cim-content">
              <p>
                We’ve been providing industrial packaging solutions for more
                than 20 + years. Using our experience, we consider factors that
                you may not have thought of, factors that can result in
                surprising cost savings.
              </p>
            </div>

            <!-- <a
              class="cim-link btn"
              href=""
              target="_self"
              >Learn More</a
            > -->
          </div>
        </div>
      </div>
    </div>
    <div class="cim-item">
      <div class="inner-wrap">
        <div class="cim-item-wrap tse-cols-2">
          <div class="cim-img-wrap">
            <a class="lightbox">
              <img
                class="cim-item-img entered lazyloaded"
                src="box-stack.png"
                alt="More Than Products. Focused Solutions."
                title="More Than Products. Focused Solutions."
                data-ll-status="loaded"
              />
            </a>
          </div>

          <div class="cim-content-wrap">
            <h2 class="cim-heading">
              More than products. <strong>Focused solutions.</strong>
            </h2>

            <div class="cim-content">
              <p>
                We are more than order takers. We’re advisers. We ask questions
                and turn your answers into solutions that combine quality and
                innovation to support your success.
              </p>
            </div>

            <a class="cim-link btn" href="/supplies/" target="_self"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="cim-item">
      <div class="inner-wrap">
        <div class="cim-item-wrap tse-cols-2">
          <div class="cim-img-wrap">
            <a class="lightbox">
              <img
                class="cim-item-img entered lazyloaded"
                src="coins.png"
                alt="More Than A Lower Price. Lower Cost."
                title="More Than A Lower Price. Lower Cost."
                data-ll-status="loaded"
              />
            </a>
          </div>

          <div class="cim-content-wrap">
            <h2 class="cim-heading">
              More than a lower price. <strong>Lower cost.</strong>
            </h2>

            <div class="cim-content">
              <p>
                Don’t mistake lower price for lower cost. Our industrial
                packaging solutions regularly generate overall packaging-related
                cost reduction that can be five times the price-related savings
                or more.
              </p>
            </div>

            <a
              class="cim-link btn"
              href="/packaging-design-services/"
              target="_self"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
