
.si-subheading {
    margin: 0;
    color: #BE8E5D;
    font-size: 1.75em;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase
}

.si-subheading strong {
    color: #fff;
    font-weight: 700
}

@media (min-width: 60em) {
    .si-subheading {
        font-size:2.1875em
    }
}

.si-heading {
    margin: 0;
    display: block;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase
}

.site-intro {
    position: relative;
    background-image: url(/home-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover
}

.site-intro:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(62,62,62,.88)
}

.site-intro .inner-wrap,.site-intro .inner-wrap-narrow,.site-intro .inner-wrap-wide,.site-intro .inner-wrap-fullwidth {
    padding-top: 1.875em;
    padding-bottom: 1.875em;
    position: relative;
    z-index: 1
}

@media (min-width: 40em) {
    .site-intro .inner-wrap,.site-intro .inner-wrap-narrow,.site-intro .inner-wrap-wide,.site-intro .inner-wrap-fullwidth {
        padding-top:2.8125em;
        padding-bottom: 2.8125em
    }
}

@media (min-width: 60em) {
    .site-intro:before {
        background:linear-gradient(90deg,#3e3e3e 0%,rgba(62,62,62,.7) 30%,rgba(62,62,62,0) 50%);
    }

    .site-intro .inner-wrap,.site-intro .inner-wrap-narrow,.site-intro .inner-wrap-wide,.site-intro .inner-wrap-fullwidth {
        padding-top: 6.25em;
        padding-bottom: 6.1875em
    }
}

@media (min-width: 60em) {
    .si-wrap {
        width:calc(50% - 20px);
        padding: 0 1.25em 0 0
    }
}


.inner-wrap,.inner-wrap-fullwidth,.inner-wrap-wide,.inner-wrap-narrow {
    max-width: 71.75em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.875em 1em
}

.inner-wrap:after,.inner-wrap-fullwidth:after,.inner-wrap-wide:after,.inner-wrap-narrow:after {
    clear: both;
    content: "";
    display: table
}

.inner-wrap>*:first-child,.inner-wrap-fullwidth>*:first-child,.inner-wrap-wide>*:first-child,.inner-wrap-narrow>*:first-child {
    margin-top: 0
}

.inner-wrap>*:last-child,.inner-wrap-fullwidth>*:last-child,.inner-wrap-wide>*:last-child,.inner-wrap-narrow>*:last-child {
    margin-bottom: 0
}


.value-added-module {
    text-align: center
}

.value-added-module .inner-wrap,.value-added-module .inner-wrap-narrow,.value-added-module .inner-wrap-wide,.value-added-module .inner-wrap-fullwidth {
    padding-top: 1.875em;
    padding-bottom: 1.875em
}

@media (min-width: 40em) {
    .value-added-module .inner-wrap,.value-added-module .inner-wrap-narrow,.value-added-module .inner-wrap-wide,.value-added-module .inner-wrap-fullwidth {
        padding-top:2.8125em;
        padding-bottom: 2.8125em
    }
}

@media (min-width: 60em) {
    .value-added-module .inner-wrap,.value-added-module .inner-wrap-narrow,.value-added-module .inner-wrap-wide,.value-added-module .inner-wrap-fullwidth {
        padding-top:3.75em;
        padding-bottom: 3.75em
    }
}


.vam-item-listing {
    width: 37.5em;
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.vam-item {
    width: 50%;
    padding: 0 .9375em;
    margin-bottom: 1.5em;
    text-align: center
}

.vam-item figure {
    height: 6.25em;
    margin: 0 auto;
    display: table
}

.vam-item figure span {
    display: table-cell;
    vertical-align: middle
}

.vam-item figure img {
    vertical-align: middle;
    height: 6.25em
}

@media (min-width: 60em) {
    .vam-item {
        width:33.33%
    }
}

.vam-item-title {
    margin: .7142857143em 0 0;
    color: #BE8E5D;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.45
}

@media (min-width: 60em) {
    .vam-item-title {
        margin:.625em 1.25em 0;
        font-size: 1em
    }
}

.vam-item-link {
    display: block;
    color: #BE8E5D;
    text-decoration: none;
    text-transform: none
}

.vam-item-link:focus,.vam-item-link:hover {
    text-decoration: underline;
    color: #BE8E5D
}

.vam-bottom-text {
    margin-top: .55em;
    color: #1d1d1d;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.45
}

.vam-bottom-text p {
    margin: 0
}

.vam-item-img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
}

.vam-content-wrap {
    margin-bottom: 2rem;
}