<div class="site-intro" style="background-image: url(/home-banner.jpg)">
  <div class="inner-wrap">
    <div class="si-wrap">
      <h1 class="si-heading">
        Industrial Packaging Solutions by K B Packaging Industries
      </h1>

      <h2 class="si-subheading">
        THIS IS WHAT INDUSTRIAL PACKAGING
        <strong>LEADERSHIP LOOKS LIKE.</strong>
      </h2>
    </div>
  </div>
</div>

<section class="value-added-module">
  <div class="inner-wrap">
    <div class="vam-content-wrap">
      <p class="vam-description">
        <strong>K B Packaging Industries</strong> delivers industrial package
        design and products to lower your costs and build your brand with a
        broad array of capabilities that provides single-source convenience,
        efficiency, and accountability.
      </p>
    </div>
    <div class="vam-item-listing">
      <div class="vam-item">
        <figure>
          <span>
            <a
              class="vam-item-link tse-remove-border"
              href="/packaging-design-services/"
              target="_self"
            >
              <img
                class="vam-item-img"
                src="design.png"
                alt="Package Design"
                title="Package Design"
              />
            </a>
          </span>
        </figure>

        <h3 class="vam-item-title">
          <a
            class="vam-item-link tse-remove-border"
            href="/packaging-design-services/"
            target="_self"
          >
            Package Design
          </a>
        </h3>
      </div>

      <div class="vam-item">
        <figure>
          <span>
            <a
              class="vam-item-link tse-remove-border"
              href="/supplies/"
              target="_self"
            >
              <img
                class="vam-item-img"
                src="transport.png"
                alt="Production and Delivery"
                title="Production and Delivery"
              />
            </a>
          </span>
        </figure>

        <h3 class="vam-item-title">
          <a class="vam-item-link" href="/supplies/" target="_self">
            Production and Delivery
          </a>
        </h3>
      </div>

      <div class="vam-item">
        <figure>
          <span>
            <a
              class="vam-item-link"
              href="/end-of-line-packaging-equipment/"
              target="_self"
            >
              <img
                class="vam-item-img"
                src="equipment.png"
                alt="Equipment"
                title="Equipment"
              />
            </a>
          </span>
        </figure>

        <h3 class="vam-item-title">
          <a
            class="vam-item-link"
            href="/end-of-line-packaging-equipment/"
            target="_self"
          >
            Equipment
          </a>
        </h3>
      </div>
    </div>
  </div>
</section>
